<% if current_user.try(:admin) %>
  <div class="container-fluid">
    <h1>Listing Blogposts</h1>
    <div class="row">
      <table width="100%">
        <thead>
          <tr>
            <th width="25%">Title</th>
            <th width="50%">Content</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @blogposts.each do |blogpost| %>
            <tr style="border-top:1pt solid black;">
              <td><%= blogpost.title %></td>
              <td><%= blogpost.content %></td>
              <td><%= link_to 'Show', blogpost, :class => "btn", :id => "btn" %></td>
              <td><%= link_to 'Edit', edit_blogpost_path(blogpost), :class => "btn", :id => "btn" %></td>
              <td><%= link_to 'Delete', blogpost, :class => "btn", :id => "btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="container-fluid">
    <% @blogposts.each do |blogpost| %>
      <div class="row">
        <%= render :partial => 'blogposts/show', :locals => {:blogpost => blogpost} %>
      </div>
    <% end %>
  </div>
<% end %>

<br>

<% if current_user.try(:admin?) %>
  <div class="container-fluid">
    <%= link_to 'New Blogpost', new_blogpost_path, :class => "btn", :id => "btn" %>
  </div>
<% end %>