<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="panel">
				<div class="panel-heading">
					<%= home.title %>
				</div>
				<div class="panel-body">
					<%= home.content %>
				</div>
				<% if current_user.try(:admin) %>
					<div class="panel-footer">
						<%= link_to 'Show', home, :class => "btn", :id => "btn" %>
                		<%= link_to 'Edit', edit_home_path(home), :class => "btn", :id => "btn" %>
                		<%= link_to 'Destroy', home, :class => "btn", :id => "btn", method: :delete, data: { confirm: 'Are you sure?' } %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>